<div class="main-content">
  <div class="upper">
    <h3 id="explain"><span id="first-pose">はじめのポーズ</span>と<span id="second-pose">おわりのポーズ</span>をきめてアニメーションをつくろう！</h3>
  </div>

  <div class="middle">
    <div id="scene-animate-container">
      <div class="scene">
      </div>
    </div>
    <div id="animation-demo">
      <div class="demo">
      </div>
    </div>
  </div>
  
  
  <div class="lower">
    <div id="got-it" class="round-btn">わかった</div>
    <div id="redo" class="round-btn">やりなおす</div>
    <div class="btn-and-caption">
      <div id="first" class="round-btn">つぎへ</div>
      <div id="second" class="round-btn">つぎへ</div>
      <div id="ok" class="round-btn">ばっちり！</div>
      <div class="caption-to-next caption-animate" id="captionAnimate">
        <p class="step">① <span class="current-step">②</span> ③ ④</p>
        <p>つぎはアニメーションの<br>おわりのポーズをきめるよ！</p>
      </div>
    </div>
  </div>

</div>

  

<div id="hidden">
  <input type="hidden" id="data" value="<%= @scene.json_data %>">
</div>
<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= stylesheet_link_tag 'scenes' %>
<%= javascript_include_tag "animate-demo.js" %>
<%= javascript_include_tag "make-animation.js" %>
