<div class="main_content animate_main_content">
  <div class="upper">
    <h3 id="explain" class="text">
      <span id="firstPose" class="red">はじめのポーズ</span>
      と
      <span id="secondPose" class="green">おわりのポーズ</span>
      をきめてアニメーションをつくろう！
    </h3>
  </div>

  <div class="animate_middle">
    <div id="sceneAnimateContainer" class="animate_canvas_wrapper">
      <div class="scene">
      </div>
    </div>
    <div id="animationDemo" class="animation_demo">
      <div class="demo">
      </div>
    </div>
  </div>
  
  <div class="lower">
    <div id="got-it" class="round_btn">わかった</div>
    <div id="redo" class="round_btn redo">やりなおす</div>
    <div class="btn-and-caption">
      <div id="first" class="round_btn">つぎへ</div>
      <div id="second" class="round_btn">つぎへ</div>
      <div id="ok" class="round_btn">ばっちり！</div>
      <div class="caption-to-next caption-animate" id="captionAnimate">
        <p class="step">① <span class="current-step">②</span> ③ ④</p>
        <p>つぎはアニメーションの<br>おわりのポーズをきめるよ！</p>
      </div>
    </div>
  </div>

</div>

  

<div id="hidden">
  <input type="hidden" id="data" value="<%= @scene.json_data %>">
</div>
<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= stylesheet_link_tag 'scenes' %>
<%= javascript_include_tag "animate-demo.js" %>
<%= javascript_include_tag "make-animation.js" %>
