<div class="">
  <div id="buttons">
    <button id="makeBox">◻︎</button>
    <button id="makeCircle">◯</button>
    <button id="makeTriangle">△</button>
    <button id="face">△</button>
    <button id="white" style="background-color:white;">　</button>
    <button id="black" style="background-color:black;">　</button>
    <button id="orange" style="background-color:#fd7e14;">　</button>
    <button id="red" style="background-color:#dc3545;">　</button>
    <button id="blue" style="background-color:#0d6efd;">　</button>
    <button id="yellow" style="background-color:#ffc107;">　</button>
    <button id="green" style="background-color:#20c997;">　</button>
    <button id="toTop">最前面へ移動</button>
    <button id="toBottom">最背面へ移動</button>
    <button id="up">前面へ</button>
    <button id="down">背面へ</button>
    <button id="save-kari">セーブ仮</button>
    <button id="save">セーブ</button>
    <button id="destroy">削除</button>
    <button id="destroy_all">クリア</button>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div id="char" class="col-6 p-0">
      <div id="char-stage" class="bg-white w-100"></div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
 <script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
 <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
 <%= javascript_include_tag "char-new.js" %>