Showです

<input type="hidden" id="data" value="<%= @data.json_data %>">

<div id="container" class="bg-info"></div>

 <script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
 <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
 <%= javascript_include_tag "show.js" %>