Showです

<input type="hidden" id="data" value="<%= @data.json_data %>">

<div id="container" class="bg-info"></div>
<button id="load">ポリゴン</button>

 <script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
 <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
 <%= javascript_include_tag "solution.js" %>
 <%= javascript_include_tag "show-sub.js" %>
