// Place all the styles related to the charactors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new

.row {
  display: flex;
}

.col-left {
  #shapesContainer {
    .shape {
      width: 120px;
      height: 120px;
      margin: 3px 0;
    }
  }
}

.col-center {
  .caption {
    font-size: 25px;
    text-align: center;
    height: 80px;
  }
  .char-stage {
    width: 400px;
    height: 400px;
  }
}

.confirm-stage {
  visibility: hidden;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-to-next {
    margin: 0 0;
    margin-right: 10px;
    flex-shrink: 1;
  }
}

.btn-confirm {
  margin: 0 0;
}
