// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-main {
  background-color: #aad4e7;
  background-image: url("top-bg.png");
  background-size: cover;
}

#top-main-visual {
  width: 100%;
  height: 600px;
}
// ボタン
.button {
  background-color: #54bfad;
  color: white;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  border: 8px solid white;
  position: absolute;
  top: calc(45vh);
}

#works-button {
  left: 120px;
}

#new-button {
  right: 120px;
  background-color: #f19580;
}
