// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./responsive";

.top_main_content {
  background-color: #aad4e7;
  background-image: url("top-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .top_main_visual {
    width: 700px;
    height: 600px;
  }

  .homes_button {
    background-color: #54bfad;
    color: white;
    font-size: vw(30);
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    border: 8px solid white;
    position: absolute;
    top: calc(45vh);

    &.works_btn {
      left: vw(100);
    }
    
    &.new_btn {
      right: vw(100);
      background-color: #f19580;
    }
  }
}
