.container {
  height: 100%;
}

/* new */
.rows {
  display: flex;
}

#char-container {
  background-color: bisque;
  width: 200px;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.characters {
  background-color: white;
  width: 90px;
  height: 90px;
  margin: 3px auto;
}

#scene-container {
  width: 600px;
  background-color: darkgrey;
}
