/* 全体 */
.btn {
  background-color: #f19580;
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  -webkit-box-shadow: 0 5px 0 #d36d56;
  box-shadow: 0 5px 0 #d36d56;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin: 0 150px;
}

/* new */
.row {
  display: flex;
}

#col-left {
  width: calc((100% - 700px) / 2);

  #char-container {
    background-color: #fff7d0;
    width: 300px;
    height: calc(100% - (100% - 400px) / 2);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-around;
    border: 8px solid #6eb6d6;

    .characters {
      background-color: white;
      width: 120px;
      height: 120px;
      margin: 3px 0;
      border: 5px solid #6eb6d6;
    }
  }

  #btn-container {
    background-color: #54bfad;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid white;

    #to-char-new {
      color: white;
      font-size: 18px;
    }
  }
}

#col-center {
  width: 600px;
  margin: 0 50px;

  .xform-btns {
    width: 100%;
    height: calc((100% - 400px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;

    .xform-btn {
      margin: 0 5px;
      -webkit-box-shadow: 0 5px 0 #d36d56;
      box-shadow: 0 5px 0 #d36d56;
      background-color: rgb(226, 183, 102);
      line-height: 90px;
      width: 90px;
      height: 90px;
      font-size: 15px;
    }
  }

  #scene-container {
    width: 600px;
    background-color: darkgrey;
  }
}

#col-right {
  width: calc((100% - 700px) / 2);

  #bg-container {
    background-color: #fffdf3;
    width: 300px;
    height: calc(100% - (100% - 400px) / 2 - 50px);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    margin: 20px auto;
    border-radius: 20px;
    border: 8px solid #6eb6d6;
  }
}

/* animate */

.upper {
  height: calc((100vh - 492px) / 2 - 60px);

  #explain {
    text-align: center;
    font-size: 30px;
    color: #666666;

    #first-pose {
      color: #e95b3b;
      font-weight: bold;
    }

    #second-pose {
      color: #369081;
      font-weight: bold;
    }
  }
}

.middle {
  position: relative;
  margin-bottom: 30px;

  #scene-animate-container {
    width: 600px;
    background-color: darkgrey;
    margin: 0 auto;
  }

  #animation-demo {
    width: 100vw;
    height: 400px;
    background-color: #aad4e7;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.lower {
  height: calc((100vh - 492px) / 2);
  display: flex;
  justify-content: center;

  .btn:hover {
    cursor: pointer;
  }

  #first,
  #second,
  #ok,
  #redo {
    display: none;
  }

  #redo {
    background-color: #54bfad;
    -webkit-box-shadow: 0 5px 0 #3c9788;
    box-shadow: 0 5px 0 #3c9788;
  }
}

/* ふきだし */
#guide {
  position: absolute;
  bottom: 30px;
  right: 90px;
  display: none;

  .arrow_box {
    position: relative;
    width: 180px;
    height: 100px;
    background: white;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 7px dotted #aad4e7;
    color: #666666;
    font-size: 18px;
    border-radius: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    text-shadow: 0px 1px 1px #adadad;
    box-shadow: 0 0 0 3px white;
  }
  .arrow_box::after {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    left: 0;
    right: 0;
    bottom: -17px;
    margin: 0 auto;
    border-top: 7px dotted #aad4e7;
    border-right: 7px dotted #aad4e7;
    background-color: #fff;
    transform: rotate(135deg);
    box-shadow: 0 0 0 3px white;
  }

  #char-to-explain {
    width: 180px;
    height: 200px;
  }
}

// show
#show-main {
  display: flex;
  justify-content: center;
  align-items: center;

  #scene-container {
    background-color: white;
    margin-top: -100px;
  }

  .show-btn {
    margin: 40px;
    margin-top: -100px;
  }
}

// index

#index-scene-container {
  margin: 0 auto;
  width: 1060px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .scenes {
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 20px;
  }
}
