/* 全体 */

/* new */
.row {
  display: flex;
}

.col-left {
  .stage-left {
    .characters {
      background-color: white;
      width: 120px;
      height: 120px;
      margin: 3px 0;
      border: 5px solid #6eb6d6;
    }
  }
}

.col-center {
  .scene-stage {
    width: 600px;
    height: 400px;
  }
}

.bg-image {
  margin: 10px 0;
  border: 5px solid #6eb6d6;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-to-next {
    margin: 0 0;
    margin-right: 10px;
    flex-shrink: 1;
  }
}

/* animate */

.upper {
  height: calc((100vh - 492px) / 2 - 60px);

  #explain {
    text-align: center;
    font-size: 30px;
    color: #666666;
    padding-top: 20px;

    #first-pose {
      color: #e95b3b;
      font-weight: bold;
    }

    #second-pose {
      color: #369081;
      font-weight: bold;
    }
  }
}

.middle {
  position: relative;
  margin-bottom: 30px;

  #scene-animate-container {
    width: 600px;
    background-color: darkgrey;
    margin: 0 auto;
  }

  #animation-demo {
    width: 100vw;
    height: 400px;
    background-color: #aad4e7;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.lower {
  height: calc((100vh - 492px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;

  .btn:hover {
    cursor: pointer;
  }

  #first,
  #second,
  #ok,
  #redo {
    display: none;
  }

  .caption-animate {
    display: none;
    width: 200px;
    margin-left: 15px;
  }

  .btn-and-caption {
    display: flex;
    align-items: center;
    justify-content: center;

    #first,
    #second,
    #ok,
    #redo {
      margin: 0 0;
    }
  }

  #redo {
    background-color: #54bfad;
    -webkit-box-shadow: 0 5px 0 #3c9788;
    box-shadow: 0 5px 0 #3c9788;
  }
}

/* ふきだし */
#guide {
  position: absolute;
  bottom: 30px;
  right: 90px;
  display: none;

  .arrow_box {
    position: relative;
    width: 180px;
    height: 100px;
    background: white;
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 7px dotted #aad4e7;
    color: #666666;
    font-size: 18px;
    border-radius: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    text-shadow: 0px 1px 1px #adadad;
    box-shadow: 0 0 0 3px white;
  }
  .arrow_box::after {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    left: 0;
    right: 0;
    bottom: -17px;
    margin: 0 auto;
    border-top: 7px dotted #aad4e7;
    border-right: 7px dotted #aad4e7;
    background-color: #fff;
    transform: rotate(135deg);
    box-shadow: 0 0 0 3px white;
  }

  #char-to-explain {
    width: 180px;
    height: 200px;
  }
}

// show
.show-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;

  #scene-container {
    background-color: white;
  }

  .show-btn {
    margin: 40px;
    line-height: 90px;
    padding-top: 5px;
  }
}

.sc-show-elt-btn {
  margin: 0 auto;
  position: relative;
  top: 110px;
  line-height: 90px;
  padding-top: 5px;
  background-color: #e2b766;
}

// index
.scene-index-main {
  min-height: 100vh;
  height: auto;
}

#index-scene-container {
  margin: 0 auto;
  width: 1060px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .scenes {
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 20px;
  }
}

.step {
  font-size: 30px;
  margin-bottom: 5px;

  .current-step {
    color: white;
  }
}
